DG_data/

DG_Data/dataset.txt
DG_Data/datasets_readme.md
DG_Data/SocialEvo/SocialEvo/ml_SocialEvo_node.npy
DG_Data/SocialEvo/SocialEvo/ml_SocialEvo.csv
DG_Data/SocialEvo/SocialEvo/ml_SocialEvo.npy
DG_Data/enron/enron/ml_enron_node.npy
DG_Data/enron/enron/ml_enron.csv
DG_Data/enron/enron/ml_enron.npy
DG_Data/lastfm/lastfm/lastfm.csv
DG_Data/lastfm/lastfm/ml_lastfm_node.npy
DG_Data/lastfm/lastfm/ml_lastfm.csv
DG_Data/lastfm/lastfm/ml_lastfm.npy
DG_Data/mooc/mooc/ml_mooc_node.npy
DG_Data/mooc/mooc/ml_mooc.csv
DG_Data/mooc/mooc/ml_mooc.npy
DG_Data/mooc/mooc/mooc.csv
DG_Data/reddit/reddit/ml_reddit_node.npy
DG_Data/reddit/reddit/ml_reddit.csv
DG_Data/reddit/reddit/ml_reddit.npy
DG_Data/reddit/reddit/reddit.csv
DG_Data/uci/uci/ml_uci_node.npy
DG_Data/uci/uci/ml_uci.csv
DG_Data/uci/uci/ml_uci.npy
DG_Data/wikipedia/ml_wikipedia_node.npy
DG_Data/wikipedia/ml_wikipedia.csv
DG_Data/wikipedia/ml_wikipedia.npy
DG_Data/wikipedia/wikipedia.csv
